huggingface-hub
langchain-community
langchain_huggingface
langchain-elasticsearch
langchain-ollama
ipykernel
ipywidgets
matplotlib
seaborn
pandas
scikit-learn
jupyter
jupyterlab
notebook
ollama
requests 