huggingface-hub
langchain-community
langchain_huggingface
langchain-ollama
ipykernel
ipywidgets
matplotlib
seaborn
pandas
scikit-learn
jupyter
jupyterlab
notebook
ollama
requests 
selenium
evaluate
ragas
sacrebleu
deepeval